*{
    margin: 0;
    padding: 0;
}

h1{
    font-style: normal;
    font-size: 3rem;
    font-weight:bolder;
    color: #FF7F3E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: black;
}

body{
    background-color: #FBF8EF;
    text-align: center;
} 

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.7vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 2rem;
    font-size:8vmin;
    color:#FF7F3E;
}
#reset{
    background-color: #FF7F3E;
    color: black;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bolder;
    border-radius: 2rem ;
}
#new-btn{
    background-color: #FF7F3E;
    color: black;
    margin-top: 10vh;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bolder;
    border-radius: 2rem;
}
#msg{
    color:rgb(61, 112, 140);
    font-size: 5vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}